@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 0 4px 4px lightgray;
}

.nav-link {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
}

.nav-link div {
    font-size: 1rem;
    font-weight: 600;
}

.logo img {
    border-radius: 50%;
}

.food_body {
    padding: 1rem;
}

.search {
    text-align: center;
    margin: 1rem auto;
}

.search input {
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 25px;
    width: 30%;
    height: 10px;
    margin: 1rem 20px;
    font-size: 18px;
    color: #000;
}

.res_container {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    place-items: center;
    display: grid;
    justify-items: center;
}

.res_container a {
    text-decoration: none;
    color: #000;
}

.restaurant_card {
    height: max-content;
    min-width: 350px;
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    background-color: #e0f1f7;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
}

.restaurant_card:hover {
    box-shadow: 0 0 5px 5px lightblue;
}

.restaurant_card img {
    border-radius: 10px;
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.res_add {
    -webkit-line-clamp: 2;
    height: 35px;
    width: 100%;
    -webkit-box-orient: vertical;
    line-height: 17px;
    display: -webkit-box;
    overflow: hidden;
}

.res_title {
    font-size: 20px;
    font-weight: 600;
    margin: 0.5rem 0;
    text-align: left;
    width: 100%;
}

.resdata {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cost2 {
    font-weight: 600;
}

.rating {
    font-weight: 600;
}

.filter-btn {
    border: 1px solid lightgray;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(40, 0, 85);
}

.filter-btn:hover {
    border: 2px solid lightgray;
    background-color: #e0f1f7;
}

.shimmer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 100%;
}

.shimmer-cards {
    height: 500px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shimmer_immer {
    margin-top: 20px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    background-color: #fbfbfb;
}

.login {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover {
    color: #fff;
    background-color: rgb(37, 37, 235);

}

.rest_menu_card {
    position: relative;
}

.user-card {
    border: 1px solid lightgray;
    width: 30%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
}